$gameFieldBackgroundColor: #feffba;
$gameFieldBorderColor: #c04a37;
$gameFieldPadding: 20px;
$fieldBackgroundColor: #ffffff;
$fieldBorderColor: #000000;

.game-field {
  display: flex;
  position: relative;
  height: 800px;
  width: 800px;
  background-color: $gameFieldBackgroundColor;
  border: 4px solid $gameFieldBorderColor;
  padding: $gameFieldPadding;

  .figure {
    width: 85%;
    height: 85%;
    display: flex;
    position: relative;
    border-radius: 50%;
    margin: 7.5%;
    border: 2px solid rgba(255, 255, 255, 0.75);

    &:before {
      content: '';
      display: block;
      position: relative;
      border-radius: 50%;
      background: #fff;
      border: 2px solid rgba(255, 255, 255, 0.75);
      width: 100%;
      margin: 20%;
    }
  }

  .homes {
    display: flex;

    &.start {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: $gameFieldPadding;

      .home {
        display: flex;
        flex-wrap: wrap;
        width: 120px;
        height: 120px;

        &:nth-child(1) {
          position: absolute;
          top: 0;
          right: 0;
        }

        &:nth-child(2) {
          position: absolute;
          bottom: 0;
          right: 0;
        }

        &:nth-child(3) {
          position: absolute;
          left: 0;
          bottom: 0;
        }

        &:nth-child(4) {
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }


    &.finish {
      display: none;
    }
  }

  .field {
    display: flex;
    width: 40px;
    height: 40px;
    border: 2px solid $fieldBorderColor;
    background-color: $fieldBackgroundColor;
    border-radius: 50%;
    margin: 10px;
  }

  .fields {
    display: flex;
    flex-wrap: wrap;
    padding: 135px;

    .field {

      &:nth-child(-n+5) {
        width: 40px;
      }
    }
  }
}

.dice-container {

  .dice-display {
    display: flex;
    width: 120px;
    height: 120px;
    border-radius: 15px;
    padding: 20px;
    background: #fff;
    justify-content: space-between;

    .eye {
      display: flex;
      border: 1px solid #000000;
      background-color: #000000;
      border-radius: 50%;
      width: 22px;
      height: 22px;
    }

    &[data-quantity="1"] {
      justify-content: center;
      align-items: center;
    }

    &[data-quantity="2"] {
      .eye {
        &:nth-child(2) {
          align-self: flex-end;
        }
      }
    }

    &[data-quantity="3"] {
      .eye {
        &:nth-child(2) {
          align-self: center;
        }

        &:nth-child(3) {
          align-self: flex-end;
        }
      }
    }

    &[data-quantity="4"] {
      flex-wrap: wrap;
    }

    &[data-quantity="5"] {

    }

    &[data-quantity="6"] {

    }
  }
}